<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>custRegister</servlet-name>
        <servlet-class>controller.custRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>custLogin</servlet-name>
        <servlet-class>controller.custLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>controller.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadAllCustomer</servlet-name>
        <servlet-class>controller.loadAllCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCustomerServlet</servlet-name>
        <servlet-class>controller.editCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>controller.adminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>custRegister</servlet-name>
        <url-pattern>/custRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>custLogin</servlet-name>
        <url-pattern>/custLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadAllCustomer</servlet-name>
        <url-pattern>/loadAllCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCustomerServlet</servlet-name>
        <url-pattern>/editCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>
