<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>custRegister</servlet-name>
        <servlet-class>controller.custRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>custLogin</servlet-name>
        <servlet-class>controller.custLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>custRegister</servlet-name>
        <url-pattern>/custRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>custLogin</servlet-name>
        <url-pattern>/custLogin</url-pattern>
    </servlet-mapping>
</web-app>
